.hero-section {
  background: linear-gradient(360deg, #121212 5%, rgba(255, 255, 255, 0)),
    url("../assets/images/bg.png") top right / cover no-repeat;
  height: 100vh;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-section__subtitle {
  font-family: "Manrope-light";
  text-align: center;
  color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
}

.hero-section__title {
  font-family: "Manrope-bold";
  font-size: 3.5rem;
  text-align: center;
  width: 65%;
  line-height: 4rem;
  color: #fff;
}

.hero-section__button {
  margin-top: 8vh;
}

@media (max-width: 1200px) {
  .hero-section__subtitle {
    font-size: 1.7rem;
  }

  .hero-section__title {
    font-size: 2.8rem;
    width: 75%;
    line-height: 3.2rem;
  }

  .hero-section__button {
    margin-top: 5vh;
  }
}

@media (max-width: 900px) {
  .hero-section {
    padding-top: 30vh;
    gap: 1rem;
  }

  .hero-section__subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .hero-section__title {
    font-size: 2rem;
    line-height: 2.4rem;
    width: 90%;
  }
}
