.reviews{
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 15vh;
    overflow-y: visible;
    position: relative;
}

.swiper {
  width: 80%;
  height: 520px;
  margin-top: 20px;
}

.swiper-pagination{
    bottom: -2vh;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: transparent;
  width: 10px;
  height: 10px;
  position: relative;
  transition: .5s;
  margin: 0 .5rem !important;
}

.swiper-pagination-bullet::before{
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    border: 1px solid #1051b4;
    border-radius: 50%;
    content: '';
    height: 10px;
    width: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #1051b4;
  opacity: 1;
}

.swiper-pagination-bullet-active::before{
    display: none;
}

.swiper-slide{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        cursor: pointer;
    }
}

.reviews__subtitle{
    color: #fff;
    font-family: "Manrope-light";
}

.reviews__bg-image{
    position: absolute;
    right: 0;
    top: 15vh;
}
@media (max-width: 750px) {
    .swiper{
        width: 60%;
    }
    .reviews__bg-image{
        top: 50vh;
    }
}

@media (max-width: 530px) {
    .swiper{
        width: 80%;
    }
}

@media (max-width: 360px) {
    .swiper{
        width: 100%;
    }
}