.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5vw;
  padding-top: 3vh;
  position: absolute;
  width: 100%;
}

.header__links {
  display: flex;
  gap: 1.6rem;
}

.header__link a {
  color: #fff;
  font-family: "Manrope-regular";
}

.header__burger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  display: none;
}
.header__burger-menu span {
  height: 2px;
  width: 2.5rem;
  background-color: #fff;
  display: block;
}

@media (max-width: 1200px) {
  .header__logo {
    width: 25%;
  }
}
@media (max-width: 900px) {
  .header__nav, .header__button {
    display: none;
  }
  .header__logo {
    width: 50%;
  }
  .header__burger-menu {
    display: flex;
  }
}
.burger-menu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #121212;
  height: 100vh;
  display: none;
  width: 100%;
  transition: 0.8s ease-in-out;
  z-index: 999;
  opacity: 0;
  padding: 20px;
}

.burger-menu__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 0;
}

.close-btn__wrapper {
  display: flex;
  width: 20px;
  position: relative;
  transform: rotate(45deg);
}
.close-btn__wrapper span {
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
}
.close-btn__wrapper span:first-of-type {
  transform: rotate(90deg);
}

.burger-menu--active {
  left: 0;
  opacity: 1;
}

.burger-menu__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.burger-menu__list .burger-menu__item a {
  color: #fff;
  font-family: "Manrope-regular";
}

.burger-menu__social-list {
  display: flex;
  gap: 1rem;
}

.hero-section {
  background: linear-gradient(360deg, #121212 5%, rgba(255, 255, 255, 0)), url("../assets/images/bg.png") top right/cover no-repeat;
  height: 100vh;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-section__subtitle {
  font-family: "Manrope-light";
  text-align: center;
  color: #fff;
  font-size: 2rem;
  line-height: 2.4rem;
}

.hero-section__title {
  font-family: "Manrope-bold";
  font-size: 3.5rem;
  text-align: center;
  width: 65%;
  line-height: 4rem;
  color: #fff;
}

.hero-section__button {
  margin-top: 8vh;
}

@media (max-width: 1200px) {
  .hero-section__subtitle {
    font-size: 1.7rem;
  }
  .hero-section__title {
    font-size: 2.8rem;
    width: 75%;
    line-height: 3.2rem;
  }
  .hero-section__button {
    margin-top: 5vh;
  }
}
@media (max-width: 900px) {
  .hero-section {
    padding-top: 30vh;
    gap: 1rem;
  }
  .hero-section__subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .hero-section__title {
    font-size: 2rem;
    line-height: 2.4rem;
    width: 90%;
  }
}
.about-company__title,
.about-company__item {
  display: none;
}

.about-company {
  display: flex;
  padding-top: 20vh;
  justify-content: space-between;
  padding-bottom: 10vh;
}

.about-company__images {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  position: relative;
}
.about-company__images .about-company__svg {
  width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.about-company__text {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.about-company__text p {
  color: #fff;
  font-family: "Manrope-light";
  font-size: 1.2rem;
  margin: 16px 0;
}
.about-company__text .link {
  margin-top: 5vh;
}

p.four-item {
  margin-top: 10vh;
}

.about-company__item:first-of-type {
  max-width: 400px;
  align-self: start;
}
.about-company__item:first-of-type h3 {
  color: #fff;
  font-family: "Manrope-light";
  border-bottom: 1px solid #fff;
  margin-bottom: 16px;
}

.about-company__item:last-of-type {
  max-width: 400px;
  align-self: end;
}
.about-company__item:last-of-type h3 {
  color: #fff;
  font-family: "Manrope-light";
  border-bottom: 1px solid #fff;
  margin-bottom: 16px;
}

.about-company__info {
  width: 35vw;
  height: 40vh;
  display: flex;
}
.about-company__info .column {
  position: relative;
  width: 100%;
}
.about-company__info .column p {
  color: #fff;
  font-family: "manrope-light";
  font-size: 1.2rem;
}
.about-company__info .column img {
  min-width: 300px;
  max-width: 300px;
  position: absolute;
}

.about-company__info .column:first-child p {
  margin-left: 60px;
  border-bottom: 1px solid #fff;
  width: 80%;
}
.about-company__info .column:first-child img {
  top: 40px;
  left: 60px;
  z-index: 999;
}

.about-company__info .column:last-child {
  align-self: flex-end;
}
.about-company__info .column:last-child img {
  top: -450px;
  left: 0px;
}
.about-company__info .column:last-child p {
  margin-left: calc(60px + 2%);
  border-top: 1px solid #fff;
  width: 77%;
}

@media (max-width: 1690px) {
  .about-company__info .column:last-child p {
    margin-left: calc(60px + 15%);
  }
}
@media (max-width: 1500px) {
  .about-company__info .column:last-child p {
    margin-left: calc(60px + 25%);
  }
  .about-company__text {
    width: 50%;
  }
  .about-company__text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1370px) {
  .about-company__info .column:last-child p {
    margin-left: calc(90px + 25%);
  }
  .about-company__images .about-company__svg {
    top: 50%;
  }
  .about-company {
    padding-top: 30vh;
  }
}
img.services__item_svg {
  color: red;
}

@media (max-width: 1250px) {
  .about-company__images {
    display: none;
  }
  .about-company__text {
    width: 100%;
  }
  .about-company__title,
  .about-company__item {
    display: block;
  }
}
@media (max-width: 800px) {
  .about-company__text p {
    font-size: 1rem;
  }
  .about-company {
    padding-top: 5vh;
  }
}
@media (max-width: 700px) {
  .about-company__text p {
    font-size: 1rem;
  }
}
.services {
  padding-bottom: 20vh;
}

.services__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 2.5rem 1rem;
}

.services__title {
  margin-bottom: 10vh;
}

.services__item_title {
  color: #fff;
  font-family: "Manrope-light";
  margin-bottom: 16px;
  font-size: 1.4rem;
}

.services__item_text {
  color: #fff;
  font-family: "Manrope-light";
  font-size: 1rem;
}

.services__item {
  display: flex;
  flex-direction: column;
}
.services__item img {
  align-self: flex-end;
  margin-top: 100px;
}

@media (max-width: 1300px) {
  .services__list {
    grid-template: auto/repeat(2, 1fr);
  }
  .services__list .services__item_svg {
    width: 200px;
  }
  .services__item_title {
    font-size: 1.2rem;
  }
}
@media (max-width: 750px) {
  .services__list {
    grid-template: auto/1fr;
  }
}
.cases {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  padding-bottom: 40vh;
}
.cases .link {
  align-self: flex-end;
}

.cases__portfolio {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.cases__portfolio img {
  position: absolute;
  z-index: -100;
  top: -90px;
  right: -200px;
}
.cases__portfolio .cases__item {
  background: linear-gradient(90deg, #1051b4, rgba(67, 172, 251, 0.4));
  min-width: 555px;
  height: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.cases__portfolio .cases__item .cases__item_title {
  color: #fff;
  font-family: "Manrope-light";
  border-bottom: 1px solid #fff;
  width: 50%;
  padding-bottom: 5px;
}
.cases__portfolio .cases__item:nth-of-type(1) {
  background: linear-gradient(90deg, #1051b4, rgba(67, 172, 251, 0.4)), url("../assets/images/Rectangle 356.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cases__portfolio .cases__item:nth-of-type(2) {
  background: linear-gradient(90deg, #1051b4, rgba(67, 172, 251, 0.4)), url("../assets/images/0f1a2136bb92b3a6851e72657ca6b424c86b9c15.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cases__portfolio .cases__item:nth-of-type(3) {
  background: linear-gradient(90deg, #1051b4, rgba(67, 172, 251, 0.4)), url("../assets/images/0168b4c4fc9c96ddb27923bc94e0c58202c6d2d7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cases__advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;
}
.cases__advantages img {
  position: absolute;
  top: -170px;
  left: -8%;
  z-index: -100;
}
.cases__advantages .cases__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: #fff;
}
.cases__advantages .cases__item .cases__item_title {
  font-family: "Manrope-bold";
  font-size: 1.6rem;
  text-align: center;
}
.cases__advantages .cases__item .cases__item_subtitle {
  font-family: "Manrope-light";
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 1400px) {
  .cases__advantages .cases__item .cases__item_title {
    font-size: 1.4rem;
  }
  .cases__advantages .cases__item .cases__item_subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 1260px) {
  .cases__portfolio img {
    top: 60%;
    right: 0;
    width: 600px;
  }
}
@media (max-width: 950px) {
  .cases__advantages {
    flex-direction: column;
    gap: 20px;
  }
  .cases__advantages .cases__item {
    gap: 0px;
  }
  .cases__advantages img {
    top: -20px;
    width: 500px;
  }
}
@media (max-width: 650px) {
  .cases__portfolio .cases__item {
    min-width: 90%;
    height: 200px;
  }
  .cases__portfolio .cases__item h3 {
    font-size: 0.9rem;
  }
  .cases__portfolio img {
    top: 70%;
    right: 0;
    width: 500px;
  }
}
@media (max-width: 450px) {
  .cases__advantages img {
    top: 50px;
  }
  .cases {
    padding-bottom: 32vh;
  }
}
.doubts {
  padding-top: 15vh;
}

.doubts__content {
  display: flex;
  justify-content: space-between;
}

.doubts__text-content {
  align-self: flex-start;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.doubts__text-content .doubts__subtitle,
.doubts__text-content .doubts__count-minutes {
  color: #fff;
  font-family: "Manrope-light";
}
.doubts__text-content .doubts__subtitle {
  font-size: 1.1rem;
}
.doubts__text-content .doubts__count-minutes {
  font-size: 2rem;
}
.doubts__text-content .doubts__info {
  display: none;
}

.doubts__info {
  width: 47%;
  display: flex;
  align-items: end;
  gap: 1.2rem;
}
.doubts__info p {
  color: #fff;
  font-family: "manrope-light";
  font-size: 1rem;
}

@media (max-width: 1400px) {
  .doubts__info {
    width: 55%;
  }
  .doubts__info p {
    font-size: 0.9rem;
  }
  .doubts__content .doubts__count-minutes {
    font-size: 1.5rem;
  }
  .doubts__content .doubts__subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 1000px) {
  .doubts__text-content {
    width: 100%;
    gap: 1rem;
  }
  .doubts__text-content .doubts__info {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
  }
  .doubts__text-content .doubts__info img {
    width: 250px;
  }
  .doubts__info {
    display: none;
  }
}
@media (max-width: 450px) {
  .doubts {
    padding-top: 0;
  }
  .doubts__text-content .doubts__info img {
    width: 80%;
  }
}
.reviews {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 15vh;
  overflow-y: visible;
  position: relative;
}

.swiper {
  width: 80%;
  height: 520px;
  margin-top: 20px;
}

.swiper-pagination {
  bottom: -2vh;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: transparent;
  width: 10px;
  height: 10px;
  position: relative;
  transition: 0.5s;
  margin: 0 0.5rem !important;
}

.swiper-pagination-bullet::before {
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  border: 1px solid #1051b4;
  border-radius: 50%;
  content: "";
  height: 10px;
  width: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #1051b4;
  opacity: 1;
}

.swiper-pagination-bullet-active::before {
  display: none;
}

.swiper-slide {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  cursor: pointer;
}

.reviews__subtitle {
  color: #fff;
  font-family: "Manrope-light";
}

.reviews__bg-image {
  position: absolute;
  right: 0;
  top: 15vh;
}

@media (max-width: 750px) {
  .swiper {
    width: 60%;
  }
  .reviews__bg-image {
    top: 50vh;
  }
}
@media (max-width: 530px) {
  .swiper {
    width: 80%;
  }
}
@media (max-width: 360px) {
  .swiper {
    width: 100%;
  }
}
.our-insites {
  padding-top: 10vh;
}

.our-insites__list {
  display: flex;
  justify-content: center;
  gap: 150px 80px;
  flex-wrap: wrap;
}
.our-insites__list .our-insites__item {
  width: 500px;
  height: 380px;
  font-family: "manrope-light";
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.our-insites__list .our-insites__item img {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: -2vw;
  transition: 0.5s;
}
.our-insites__list .our-insites__item img:first-of-type {
  opacity: 0;
}
.our-insites__list .our-insites__item img:last-of-type {
  opacity: 1;
}
.our-insites__list .our-insites__item:hover img:last-of-type {
  opacity: 0;
}
.our-insites__list .our-insites__item:hover img:first-of-type {
  opacity: 1;
}

.our-insites__title {
  margin-bottom: 80px;
}

.our-insites__item__title {
  color: #fff;
  font-size: 1.3rem;
}

@media (max-width: 1300px) {
  .our-insites__item__title {
    font-size: 1.1rem;
  }
  .our-insites__item__text {
    font-size: 0.9rem;
  }
}
.faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.faq__title {
  margin-bottom: 30px;
}

.faq__item {
  color: #fff;
  font-family: "Manrope-light";
  cursor: pointer;
}
.faq__item .faq__item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #fff;
}
.faq__item .faq__item_header h3 {
  font-size: 1.2rem;
  padding-bottom: 5px;
  transition: 0.5s;
}
.faq__item .faq__item_header .faq__item_button {
  min-width: 15px;
  height: 15px;
  transition: 0.5s;
}
.faq__item .faq__item_header .faq__item_button span {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}
.faq__item .faq__item_header .faq__item_button span:last-of-type {
  transform: rotate(90deg);
}
.faq__item .faq__item_content {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.faq__item .faq__item_content p {
  font-size: 1rem;
}

.faq__item--active .faq__item_header .faq__item_button {
  transform: rotate(-45deg);
}
.faq__item--active .faq__item_header .faq__item_button span {
  background-color: #1051b4;
}
.faq__item--active .faq__item_header h3 {
  color: #1051b4;
}
.faq__item--active .faq__item_content {
  margin-top: 20px;
}

@media (max-width: 1400px) {
  .faq__item .faq__item_header h3 {
    font-size: 1rem;
  }
  .faq__item .faq__item_content p {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .faq__item .faq__item_header h3 {
    font-size: 0.9rem;
  }
  .faq__item .faq__item_content p {
    font-size: 0.8rem;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  gap: 1rem;
}
.footer div {
  color: #fff;
}
.footer div h3 {
  font-family: "Manrope-bold";
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.footer div li a {
  color: #fff;
  font-family: "Manrope-light";
  transition: 0.5s;
}
.footer div li a:hover {
  color: #1051b4;
}
.footer div ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__logo img {
  margin-bottom: 2vh;
}
.footer__logo p {
  color: #fff;
  font-family: "manrope-light";
}

.footer__interesting button {
  margin-top: 35px;
}

@media (max-width: 1500px) {
  .footer div h3 {
    font-size: 1.1rem;
  }
  .footer div ul li a {
    font-size: 0.9rem;
  }
}
@media (max-width: 1080px) {
  .footer__interesting button {
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  .footer {
    flex-direction: column;
  }
}
@font-face {
  font-family: "Manrope-bold";
  src: url("../assets/font/Manrope-Bold.woff");
}
@font-face {
  font-family: "Manrope-regular";
  src: url("../assets/font/Manrope-Regular.woff");
}
@font-face {
  font-family: "Manrope-light";
  src: url("../assets/font/Manrope-Light.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  max-width: 100%;
}

h2 {
  font-size: 2rem;
  color: #fff;
}

section {
  padding: 0 5vw;
  width: 100%;
}

.blue-button {
  color: #fff;
  background-color: #1051b4;
  padding: 0.8rem 2.5rem;
  border-radius: 0.8rem;
  font-family: "Manrope-light";
  transition: 0.4s;
  border: 1px solid #1051b4;
}

.blue-button:hover {
  background-color: transparent;
  border: 1px solid #fff;
}

.link {
  color: #fff;
  font-family: "Manrope-regular";
  font-size: 1.01rem;
  border: 1px solid #fff;
  padding: 0.4rem 0.8rem;
  position: relative;
  padding-right: 2rem;
  border-radius: 10px;
  transition: 0.5s;
}

.link:hover {
  background-color: #1051b4;
  border: 1px solid #1051b4;
  box-shadow: 0 0 30px 1px #1051b4;
  padding: 0.4rem 2rem;
  padding-right: 4rem;
}

.link:hover::after {
  right: 15%;
}

.link::after {
  position: absolute;
  content: "";
  background-image: url("../assets/icons/Vector 2.svg");
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  top: 60%;
  right: 3%;
  transform: translateY(-50%);
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .blue-button {
    padding: 0.5rem 1.5rem;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */